build/
dist/*
!dist/apps
dist/apps/builder-demo
dist/apps/web-site
!dist/apps/archive
tmp/
out-tsc/
node_modules/

.nyc_output
*.zip

.DS_Store

log
*~
*.sqlite3
.nx/cache
.nx/workspace-data

*.env
.env.stage
.env.prod

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# IDE
.idea/

*lang.postcss.json

# Local Netlify folder
.netlify

analyse.html
