@import '../colors.postcss';

.__link {
  position: relative;
}
.__link-placeholder {
  color: $grey-500;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8px;
}

.__list-add {
  width: 28px;
  position: absolute;
  bottom: -28px;
  fill: black;
  cursor: pointer;
  svg {
    width: 100%;
    filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.5));
  }
}

.__image {
  min-width: 40px;
  min-height: 24px;
  background-color: $grey-700;
}
