@import '../colors.postcss';
@import '../typography.postcss';

:root {
  --color-picker-z-index: $z-index-toolbar-dropdown1;
  --color-picker-color-light1: $grey-100;
  --color-picker-color-light2: $border1;
  --color-picker-color-light3: $grey-500;
  --color-picker-color-border: $grey-700;
  --color-picker-font-title: $font-title;
  --color-picker-font-text: $font-text;
}
